.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

app-menu {
    flex: 0 0 10%;
    height: 100%;
}

app-header {
    background-color: var(--dark-blue);
    height: 80px;
    flex: 0 0 auto;
    background: url('../assets/img/world.png') no-repeat center center;
    background-size: cover;
}
  
.main-container {
    display: flex;
    flex: 1;
}