.menu-container {
    height: 100%;
}

mat-sidenav {
    width: 190px;
}

mat-sidenav-container {
    height: 100%;
}

mat-nav-list {
    width: 100%;
}

@media screen and (max-width: 650px) {
    mat-sidenav {
        width: 100%;
    }
}